body{
  margin: 0;
}
.blue_ground{
  background-color: #273a81;
  background-image: url("Logo_Black_KH.png");
}
.grey_ground{
  background-color: grey;
  background-image: url("Logo_Blue_KH.png");
}

.blue_ground,
.grey_ground{
  height: 650px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
